body{
    background-color: #ffd1dc;
    background-image: radial-gradient(#ffb7c5 2px, transparent 2px);
    background-size: 20px 20px;
    margin: 0;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    color: #57042c;
}

@font-face {
    font-family: Marykate;
    src: url(Marykate.ttf);
}

.content-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

::-webkit-scrollbar {
width: 8px;
height: 12px;
background: white;
border-radius: 10px;
}

::-webkit-scrollbar-track {
border: 1px solid #FFABD7;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #57042c;  
border-radius: 10px;
border: 1px solid #FFABD7;
}

.image-stack {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: 0;
}

.base-layer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.top-layer {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 100%;
  z-index: 2;
}

.interests-section {
  width: 100%;
  position: relative;
}

.Interest-Box {
  position: relative;
  width: 100%;
  aspect-ratio: 10/8;
  margin: 0;
}

.Int {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}

.Bg { z-index: 1; }
.MLBB { z-index: 2; }
.Astro { z-index: 3; }
.Genshin { z-index: 4; }
.Music { z-index: 5; }
.Anime { z-index: 6; }
.Stix { z-index: 7; }

