*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100;
    overflow: hidden;
    background-color: #57042c;
    font-family: 'Poppins', sans-serif;
}
.layer { 
    max-width: 100%;
    height: auto; 
}

.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scene-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.baseImg, .hoverImg {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.hoverImg {
    opacity: 0;
}

.scene-container:hover .baseImg {
    opacity: 0;
}

.scene-container:hover .hoverImg {
    opacity: 1;
}

.scene-container:hover .baseImg, .scene-container:hover .hoverImg {
    transform: translate(-50%, -50%) scale(1.08);
}

.homepage .menu-buttons {
    position: absolute;
    top: 58%;
    left: 28%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    #startButton {
        width: 350px;
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    #startButton {
        width: 120px;
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

#startButton {
    background-color: #cf7996;
    color: white;
    border: none;
    border-radius: 14px;
    padding: 12px 30px;
    font-family: 'MaryKate', cursive, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0px #a65d75;
    width: 300px;
    text-align: center;
    transition: transform 0.1s ease;
}

#startButton:hover {
    background-color: #db8da6;
}

#startButton:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0px #a65d75;
}

